<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Study Guide lookup</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
  <script src="https://unpkg.com/htmx.org@1.9.4"></script>
</head>
<body>
  <section class="section">
    <div class="columns">
      <div class="column is-one-third is-offset-one-third">
          <label>
              <input type="text" class="input" placeholder="Search For Study Guides Here" name= "q" hx-get="/search" hx-trigger="keyup changed delay:500ms" hx-target="#results">
          </label>
      </div>
    </div>
    <table class="table is-fullwidth">
      <thead>
        <tr>
          <th>Class</th>
          <th>UnitTopic</th>
          <th>Price</th>
          <th>Creator</th>
        </tr>
      </thead>
      <tbody id="results">
      </tbody>
    </table>
  </section>
</body>

</html>