<!-- templates/share.html -->
<!DOCTYPE html>
<html data-bs-theme="light" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Share - ASD4ME</title>
    <link rel="stylesheet" href="/static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/assets/css/styles.min.css">
</head>

<body>
    <nav class="navbar navbar-expand-md fixed-top navbar-shrink py-3 navbar-light" id="mainNav">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="/market"><span>ASD4ME</span></a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item"><a class="nav-link" href="/market/search">Search</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/market/share">Share</a></li>
                </ul><a class="btn btn-primary shadow" role="button" href="/market/account">Account</a>
            </div>
        </div>
    </nav>
    <section class="py-5 mt-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="display-6 fw-bold mb-4">Ready to&nbsp;<span class="underline">share</span>?</h2>
                    <p class="text-muted">Enter the details below to share your study guide</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <div>
                        <form class="p-3 p-xl-4" method="post" action="{{ url_for('market_bp.submit_guide') }}">
                            <div class="mb-3"><input class="shadow form-control" type="text" name="class" placeholder="Class" required></div>
                            <div class="mb-3"><input class="shadow form-control" type="text" name="unit_topic" placeholder="Unit Topic" required></div>
                            <div class="mb-3"><input class="shadow form-control" type="number" name="price" placeholder="Price" required></div>
                            <div class="mb-3"><input class="shadow form-control" type="text" name="creator" value="{{ current_user.username }}" readonly></div>
                            <div><button class="btn btn-primary shadow d-block w-100" type="submit">Submit</button></div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer></footer>
    <script src="/static/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/assets/js/script.min.js"></script>
</body>

</html>
